
.footer {
    background-color: rgba(255, 255, 255, 0.2); /* 设置为几乎全透明 */
    padding: 1vw;
    text-align: center;
    width: 100%;
    border-top: 0.2vh solid rgba(226, 226, 226, 0.5); /* 边框颜色也调整为半透明 */
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: rgba(153, 153, 153, 0.8); /* 设置为略微透明的灰色 */
    text-decoration: none;
    font-size: 0.6vw;
}
