@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    min-height: 200vh;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

header {
    /* flex position */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* 动画过渡 */
    transition: 0.6s;
    padding: 10px 2.6vw;
    background-color: black;
    font-family: 'Poppins';
}


header .logo {
    font-size: 1.4vw;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .logo:hover {
    color: gray;
}

header ul {
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li {
    list-style: none;
    float: left;
    font-size: 0.85vw;
    padding: 10px 15px;
    line-height: normal;
}


header ul li a:hover {
    background-color: gray;
    color: black;
    animation: changeColor 2s infinite;
    animation-delay: 3s;


}


header ul li a {
    margin: 0 1vw;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    line-height: 4.6vh;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 10px 15px;
}




.navbar ul li ul{
    flex-wrap: wrap;
}

header ul li ul li {
    display: none;
    width: 250px;
    height: 50px;
    float: initial;

    font-size: 10px;
    transition: 0.8s;
    flex-wrap: nowrap;

}


.navbar ul li:hover ul li {
    display: block;
    border-top: 1px;
    transition: 0.8s;
    flex-wrap: nowrap;
}




header.sticky {
    padding: 6px 100px;
    background-color: #fff;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}





/* add */
header {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid black;
    padding: 10px 2.6vw;
}

header .logo {
    color: white;
    font-size: 1.6vw;
}

header ul li a {
    color: white;
    transition: color 0.3s;
}

header ul li a:hover, header ul li a:focus {
    color: gray;
    background-color: transparent;
}


@media (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        display: block;
    }
}

header .navbar ul li a.login-signup-button {
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-transform: none;
}

header .navbar ul li a.signup-button {
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-transform: none;
}

header .navbar ul li a.login-signup-button:hover {
    background-color: #333;
    text-decoration: none;
}




