<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css"/>
    <link rel="stylesheet" href="/css/loginSignUp.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>



</head>
<body>


<!-- Navigation Bar -->
<header>
    <a href="/" class="logo">StoryTime</a>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/education" >Education</a></li>
            <li><a href="/fairytale">Story</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            </li>


            <li><a href="/login" class="login-signup-button">Login/Sign up</a>
                <ul>
                    <li><a href="login">Login in</a></li>
                    <li><a href="login">Sign Up</a>
                </ul>
            </li>
        </ul>
    </div>
</header>

<section class="features" id="features">

    <section class="container" id="container">

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Forget password? No worries. Try to reset it.</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="form-container sign-up">
            <form action="/user/register" method="post">
                <h1>Create Account</h1>
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
                <div th:if="${message}">
                    <p style="color: green;" th:text="${message}"></p>
                </div>
                <div th:if="${error}">
                    <p style="color: red;" th:text="${error}"></p>
                </div>
            </form>
        </div>


        <div class="form-container sign-in">
            <form action="/user/resetPassword" method="post">
                <h1>Reset Password</h1>
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email"  placeholder="Email" required>
                <input type="password" id="newPassword" name="newPassword"  placeholder="New Password"required>
                <a href="login">Back to Log in?</a>
                <button type="submit" value="Reset Password">Reset</button>

                <div th:if="${message}">
                    <p style="color: green;" th:text="${message}">Password reset successful</p>
                </div>
                <div th:if="${error}">
                    <p style="color: red;" th:text="${error}">Invalid username or email</p>
                </div>
            </form>
        </div>

    </section>
</section>



<script src="/js/loginSignup.js"></script>
<script>
    window.addEventListener("scroll", function() {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    });
</script>


<!--<h2></h2>-->
<!--<form action="/user/resetPassword" method="post">-->
<!--    <div>-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" id="username" name="username" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="email" id="email" name="email" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="newPassword">New Password:</label>-->
<!--        <input type="password" id="newPassword" name="newPassword" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="submit" value="Reset Password">-->
<!--    </div>-->
<!--    <div th:if="${message}">-->
<!--        <p style="color: green;" th:text="${message}">Password reset successful</p>-->
<!--    </div>-->
<!--    <div th:if="${error}">-->
<!--        <p style="color: red;" th:text="${error}">Invalid username or email</p>-->
<!--    </div>-->
<!--</form>-->
</body>
</html>
